 La longueur du tableau est  {{ auth|length }}
 
<table border="1">
  <tr>
    <th>Id</th>
    <th>Picture</th>
    <th>Username</th>
    <th>Email</th>
    <th>nb_books</th>
      <th>Detail</th>
  </tr>
  {% for a in auth %}
    <tr>
      <td>{{a.id}}</td>
      <td><img src='{{asset(a.picture)}}' width=50></td>
      <td>{{a.username |upper}}</td>
      <td>{{a.email}}</td>
      <td>{{a.nb_books}}</td>
        <td><a href="{{path('show',{'i':a.id})}}">Detail</a></td>
    </tr>
    {% else %}
    <i>Tableau NOT FOUND</i>

  {%endfor%}
</table>
{% set somme=0 %}
{% for aa in auth %}
  {% set somme= somme+aa.nb_books%}
{%endfor%}
<p>Le nbe total est : <b>{{somme}}</b></p>