<form action="{{path('Search')}}">
    <label>Ref</label><input type="text" name="r">
    <input type="submit" value="Search">
</form>
<p>Liste des livres</p>
<table border="1">
    <tr>
        <th>Ref</th><th>Titre</th>
        <th>catégorie</th><th>Date Publication</th>
        <th>Publié</th><th>Auteur</th><th>Update</th>
    </tr>
    {% for b in book%}
        <tr>
            <td>{{b.ref}}</td>
            <td>{{b.title}}</td>
            <td>{{b.category}}</td>
            <td>{{b.publicationDate|date}}</td>
            <td>{{b.published}}</td>
            <td>{{b.author.username}}</td>
            <td><a href="{{path('Update',{'pk':b.ref})}}">Update</a></td>
        </tr>
        {%else%} <p>No book found!!</p>
    {%endfor%}
</table>
{%set nb_published=0%}
{%set nb_unpublished=0%}
{%for bb in book%}
    {% if bb.published==true%}
        {%set nb_published=nb_published+1%}
    {%else%}
    {%set nb_unpublished=nb_unpublished+1%}
    {%endif%}
{%endfor%}
<p>Nombre de livre pulié est: {{nb_published}}</p>
<p>Nombre de livre pulié est: {{nb_unpublished}}</p>